// linking partials
@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;



.video-player__container{
    background-color: $brainflix-darkblack;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 70vh;
    overflow: hidden;
}

.video-player {
    object-fit: cover;
    height: 100%;
    width: auto;  
}
