// linking partials
@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

// .video-list {
//     @include desktop{
        
//     }
// }
.video-list__video {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    
    
}

.video-list__video-image {
    width: 12rem;
    height: 7rem;
    border-radius: 8px;
    margin: 1rem 0rem;
}

.video-list__video-channel {
    align-items: flex-end;
    position: absolute;
    font-size: 18px;
    padding: 20px 220px;
    padding-top: 90px;
}

.video-list__video-title {
    font-size: 25px;
    font-weight: 600;
    
}