// colors
$bandflix-black: #323232;
$bandflix-darkblack: #000000;
$bandflix-blue: #0095FF;
$bandflix-darkblue: #0065AD;
$bandflix-silver: #AFAFAF;
$bandflix-mercury: #E1E1E1;
$bandflix-alabaster: #FAFAFA;

// media query breakpoint
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
