// linking partials
@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    gap:1rem;
    margin: 1.5rem 1rem; 

    @include  tablet {
      flex-direction: row;
      margin: 1.5rem 3rem; 
    }
    @include  desktop {
      flex-direction: row;
      margin: 1.5rem 8rem; 
    }
  
  &__logo {
    width: 180px; 
    height: auto; 
    @include tablet{
      width: 160px;
    }
  }
  
  &__search-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    @include tablet{
      justify-content: end;
    }
  }
    
  &__search{
    background-image: url('../../assets/Icons/search.svg');
    background-color: #FAFAFA;
    background-repeat: no-repeat;
    background-position: 10px 10px; 
    font-size: 15px;
    height: 5px; 
    min-width: 240px; 
    max-width: 100%; 
    border: 2px solid #E5E5E5; 
    border-radius: 4px; 
    padding: 18px; 
    margin-right: 12px; 
    flex-grow: 1; 
    transition: border-color 0.3s ease;
    &::placeholder{
      padding-left: 20px;
      color: black;
    }
    &:focus {
      border-color: #0072CE; 
      outline: none; 
    }
    &.error {
      .nav__search {
        border-color: #D22D2D; 
      }
    }

    @include tablet {
      width: 30%;
      margin-left: 8rem;
      margin-right: 1.5rem;
      height: 3.125rem;
      min-width: 250px; 
      max-width: 40%;
      
    }
  }
  &__user-icon {
    object-fit: cover;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    // margin-right: 10px;
    // margin-left: 0.4rem;
    // margin-top: 0rem;
    // position: absolute;
    @include tablet{
      width: 52px;
      height: 52px;
    }
  }
  // ===== CTA upload ====
  &__upload1 {
    background-image: url('../../assets/Icons/upload.svg');
    background-repeat: no-repeat;
    background-color: #0072CE;
    background-position: 10px 10px; 
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    height: 40px; 
    padding: 0 32px; 
    width: 100%; 
    &:hover {
        background-color: #0065AD; 
        color: #ffffff; 
    }
    @include tablet{
      display: none;
    }
  }
  &__upload2 {
    display: none;
    @include tablet{
      background-image: url('../../assets/Icons/upload.svg');
      background-repeat: no-repeat;
      background-color: #0072CE;
      background-position: 10px 12px; 
      color: #ffffff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      font-weight: normal;
      text-align: center;
      text-decoration: none;
      transition: background-color 0.3s ease;
      height: 3.125rem; 
      padding: 0 32px; 
      // width: 35%; 
      width: 150px;
      margin-right: 1rem;
      &:hover {
          background-color: #0065AD; 
          color: #ffffff; 
      }
    }
  }
}

  